//variables
@bgcolor: rgb(230, 173, 188);
@b: body;
@fuente: 'Arial';


@{b}{
    background: @bgcolor;
}

h1{
    font-family: @fuente;
    
}

//anidacion
.informacion{
    ul{
        a{
            color: blue;
            font-size: 18px;
        }
    }
}

//Mixins

.sombras(@size){
    box-shadow: 0px 0px @size black;
    text-shadow: 0px 0px @size gray;
}

.informacion {
        .sombras(5px);
    }

    //operadores

h1{
    font-size: 30px + 7px;
}

    //mixins
    
.textoNegro(@value) when (@value=true){
    color: black;
}

h1{
    color: blue;
    .textoNegro(blanco);
}

    
    //bucles

    .loop(@cont) when (@cont > 0){
        .loop((@cont - 1));
        height: (900px/cont);
    }

    .informacion{
        height: 900px;
        .loop(5);
    }
