body {
  background: #e6adbc;
}
h1 {
  font-family: 'Arial';
}
.informacion ul a {
  color: blue;
  font-size: 18px;
}
.informacion {
  box-shadow: 0px 0px 5px black;
  text-shadow: 0px 0px 5px gray;
}
h1 {
  font-size: 37px;
}
h1 {
  color: blue;
}
.informacion {
  height: 900px;
}
